@media screen and (max-width: 900px) {
    .nav-menu {
        width: 90%;
    }

    #contact {
        padding: 100px 80px;
    }

    .contactText p {
        font-size: 12px;
    }

    .contactText {
        width: 60%;
    }

    .map {
        width: 60%;
    }

    .newsItem {
        width: 25%;
        margin: 25px;
    }



}